<main class="page-<%= pageData.template %>">
    <section class="action-box">
        <div class="page-logo">
            <a href="<%= RELATIVE_PATH %>index.html">
                <span class="hotpot">
                    <img src="<%= RELATIVE_PATH %>images/icons/hotpot-cover@2x.png" alt="hotpot cover"
                         class="hotpot-cover">
                    <img src="<%= RELATIVE_PATH %>images/icons/hotpot-steam@2x.png" alt="hotpot steam"
                         class="hotpot-steam">
                    <img src="<%= RELATIVE_PATH %>images/icons/hotpot-body@2x.png" alt="hotpot body"
                         class="hotpot-body">
                </span>
                <h1>
                    <img src="<%= RELATIVE_PATH %>images/icons/logo-txt@2x.png" alt="IKOTOバランス食堂">
                </h1>
            </a>
        </div>
        <div class="scroll-page">
            <a href="#section-about" class="smooth-anchor">
                <span>scroll</span>
            </a>
        </div>
    </section>
    <section class="main-visual" role="banner">
        <ul class="slideshow-lg">
            <li class="item item-01 jarallax" style="background-image: url('<%= RELATIVE_PATH %>images/photos/slider_01@2x.jpg')">&nbsp;</li>
            <li class="item item-02 jarallax" style="background-image: url('<%= RELATIVE_PATH %>images/photos/slider_02@2x.jpg')">&nbsp;</li>
            <li class="item item-03 jarallax" style="background-image: url('<%= RELATIVE_PATH %>images/photos/slider_03@2x.jpg')">&nbsp;</li>
        </ul>
    </section>
    <section id="section-about">
        <div class="container container-sm">
            <div class="section-ttl mbpc-10 mbsp-10 animatedParent animateOnce">
                <h2 class="animated fadeInUp2">バランス食堂 IKOTTOとは？</h2>
                <p class="animated fadeInUp2" >About us</p>
            </div>
            <figure class="txt-center mbpc-20 mbsp-20">
                <img src="<%= RELATIVE_PATH %>images/photos/ikoto-about-illus@2x.png" alt="" width="808">
            </figure>
            <div class="animatedParent animateOnce" data-sequence="200">
                <p class="txt-basic txt-center pc animated fadeInUp2" data-id="1">
                    「食で街を元気にしたい」という想いからできた、市役所の食堂です。
                </p>
                <p class="txt-basic txt-center pc animated fadeInUp2" data-id="2">
                    市役所職員だけでなく、どなたでも食べに来ることができます。
                </p>
                <p class="txt-basic txt-center pc animated fadeInUp2" data-id="3">
                    管理栄養士が旬の食材を使って、毎日健康的でおいしいランチをふるまいます。
                </p>
                <p class="txt-basic txt-center pc animated fadeInUp2" data-id="4">
                    市民が集い、そこから、交流が生まれ、みんなが元気になっていく。
                </p>
                <p class="txt-basic txt-center pc animated fadeInUp2" data-id="5">
                    そんな場所を目指している食堂です。
                </p>
            </div>
            <div class="animatedParent animateOnce" data-sequence="200">
                <p class="txt-basic txt-center txt-lg sp animated fadeInUp2" data-id="1">
                    「食で街を元気にしたい」という
                </p>
                <p class="txt-basic txt-center txt-lg sp animated fadeInUp2" data-id="2">
                    想いからできた市役所の食堂です。
                </p>
                <p class="txt-basic txt-center txt-lg sp animated fadeInUp2" data-id="3">
                    市役所職員だけでなく、
                </p>
                <p class="txt-basic txt-center txt-lg sp animated fadeInUp2" data-id="4">
                    どなたでも食べに来ることができます。
                </p>
                <p class="txt-basic txt-center txt-lg sp animated fadeInUp2" data-id="5">
                    管理栄養士が旬の食材を使って、
                </p>
                <p class="txt-basic txt-center txt-lg sp animated fadeInUp2" data-id="6">
                    毎日健康的でおいしいランチを
                </p>
                <p class="txt-basic txt-center txt-lg sp animated fadeInUp2" data-id="7">
                    ふるまいます。
                </p>
                <p class="txt-basic txt-center txt-lg sp animated fadeInUp2" data-id="8">
                    市民が集い、そこから、交流が生まれ、
                </p>
                <p class="txt-basic txt-center txt-lg sp animated fadeInUp2" data-id="9">
                    みんなが元気になっていく。
                </p>
                <p class="txt-basic txt-center txt-lg sp animated fadeInUp2" data-id="10">
                    そんな場所を目指している食堂です。
                </p>
            </div>
        </div>
    </section>
    <section id="section-news">
        <div class="container container-sm">
            <div class="animatedParent animateOnce">
                <div class="section-ttl mbpc-35 mbsp-20">
                    <h2 class="animated fadeInUp2">最新のお知らせ</h2>
                    <p class="animated fadeInUp2">News</p>
                </div>
                <p class="txt-basic txt-center pc animated fadeInUp2">
                    毎日のメニューや新しいメニュー、イベントのことなど
                </p>
                <p class="txt-basic txt-center pc mbpc-40 animated fadeInUp2">
                    IKOTTOの最新情報をSNSでお届けします。
                </p>
                <p class="txt-basic txt-center txt-lg sp animated fadeInUp2">
                    毎日のメニューや
                </p>
                <p class="txt-basic txt-center txt-lg sp animated fadeInUp2">
                    新しいメニュー、イベントのことなど
                </p>
                <p class="txt-basic txt-center txt-lg sp mbsp-30 animated fadeInUp2">
                    IKOTTOの最新情報をSNSでお届けします。
                </p>
            </div>
            <div class="social-blocks">
                <div class="block facebook-block">
                    <div class="fb-page"
                         data-href="https://www.facebook.com/%E3%83%90%E3%83%A9%E3%83%B3%E3%82%B9%E9%A3%9F%E5%A0%82ikotto-652872738444489/"
                         data-tabs="timeline" data-width="470" data-height="400" data-small-header="false"
                         data-adapt-container-width="true" data-hide-cover="false" data-show-facepile="false">
                        <blockquote
                                cite="https://www.facebook.com/%E3%83%90%E3%83%A9%E3%83%B3%E3%82%B9%E9%A3%9F%E5%A0%82ikotto-652872738444489/"
                                class="fb-xfbml-parse-ignore"><a
                                    href="https://www.facebook.com/%E3%83%90%E3%83%A9%E3%83%B3%E3%82%B9%E9%A3%9F%E5%A0%82ikotto-652872738444489/">バランス食堂ikotto</a>
                        </blockquote>
                    </div>
                </div>
                <div class="block instagram-block">
                    <a href="https://www.instagram.com/ikotto_anjo/" target="_blank" rel="noreferrer noopener">
                        <img src="<%= RELATIVE_PATH %>images/photos/ikotto-anjo-insta@2x.png" alt="ikotto anjo">
                    </a>
                    <a href="https://www.instagram.com/ikotto.nagoya/" target="_blank" rel="noreferrer noopener">
                        <img src="<%= RELATIVE_PATH %>images/photos/ikotto-nagoya-insta@2x.png" alt="ikotto nagoya">
                    </a>
                </div>
            </div>
        </div>
    </section>
    <section class="section-banner-lg" role="banner">
        <div class="banner jarallax" style="background-image: url('<%= RELATIVE_PATH %>images/photos/banner-lg@2x.jpg')"></div>
    </section>
    <section id="section-menu">
        <div class="container container-sm">
            <div class="animatedParent animateOnce">
                <div class="section-ttl mbpc-20 mbsp-20">
                    <h2 class="animated fadeInUp2">食堂メニュー</h2>
                    <p class="animated fadeInUp2">Menu</p>
                </div>
                <p class="txt-basic txt-center mbpc-40 pc animated fadeInUp2">
                    例えば、こんなランチメニューを日替わりでお届けしています。
                </p>
                <p class="txt-basic txt-center txt-lg sp animated fadeInUp2">
                    例えば、こんなランチメニューを
                </p>
                <p class="txt-basic txt-center txt-lg sp mbsp-15 animated fadeInUp2">
                    日替わりでお届けしています。
                </p>
            </div>
            <div class="menu-block mbpc-40 mbsp-30">
                <div class="menu-imgs">
                    <ul class="menu-img-slideshow">
                        <li class="item">
                            <img src="<%= RELATIVE_PATH %>images/photos/slide-sm-01.jpg" alt="">
                        </li>
                        <li class="item">
                            <img src="<%= RELATIVE_PATH %>images/photos/slide-sm-02.jpg" alt="">
                        </li>
                        <li class="item">
                            <img src="<%= RELATIVE_PATH %>images/photos/slide-sm-03.jpg" alt="">
                        </li>
                    </ul>
                </div>
                <div class="menu-contents">
                    <ul class="menu-pricing mbpc-30 mbsp-30">
                        <li class="item">
                            <div class="heading">
                                <h3 class="menu-item-name">IKOTTOランチ</h3>
                                <p class="menu-item-pricing">550<span>yen</span></p>
                            </div>
                            <div class="desc">
                                <p class="txt-basic">
                                    お魚、700Kcal以下、野菜、たんぱく質、疲労回復、鉄分摂取。<br>
                                    6つの健康テーマに沿って作る日替わりランチ！
                                </p>
                            </div>
                        </li>
                        <li class="item">
                            <div class="heading">
                                <h3 class="menu-item-name">Regularランチ</h3>
                                <p class="menu-item-pricing">550<span>yen</span></p>
                            </div>
                            <div class="desc">
                                <p class="txt-basic">
                                    ボリューム満点の日替わりランチ！<br>
                                    無料でごはんの大盛りにもできます。
                                </p>
                            </div>
                        </li>
                        <li class="item">
                            <div class="heading">
                                <h3 class="menu-item-name">
                                    gデリ<span>（量り売り）</span>
                                    <small>※安城のみ</small>
                                </h3>
                                <p class="menu-item-pricing">
                                    <small>1gあたり</small>
                                    1.8<span>yen</span>
                                </p>
                            </div>
                            <div class="desc">
                                <p class="txt-basic">
                                    毎日変わる８種類のメニューから<br>
                                    食べたい分だけ取って食べれる量り売り！

                                </p>
                            </div>
                        </li>
                    </ul>
                    <p class="txt-basic">
                        ※写真は一例です。
                    </p>
                    <p class="txt-basic">
                        ※価格は時期や食堂によって異なる場合があります。
                    </p>
                    <p class="txt-basic">
                        ※一般の方も同じ価格でご利用いただけます。
                    </p>
                </div>
            </div>
            <p class="txt-basic txt-center pc">
                ほかにも、ラーメン(400yen）、丼もの(450yen）、和麺(300yen）今週のカレー(350yen）、
            </p>
            <p class="txt-basic txt-center pc">
                ご飯（小盛：50yen・大盛70yen)、みそ汁(50yen)、小鉢(100yen)、サラダ(100yen)もございます。
            </p>
            <p class="txt-basic txt-center pc">
                丼、カレー、IKOTTOーランチ、レギュラーランチは、テイクアウトもできます！
            </p>
            <p class="txt-basic sp">
                ほかにも、ラーメン(400yen）、丼もの(450yen）、和麺(300yen）今週のカレー(350yen）、ご飯（小盛：50yen・大盛70yen)、みそ汁(50yen)、小鉢(100yen)、サラダ(100yen)もございます。丼、カレー、IKOTTOーランチ、レギュラーランチは、テイクアウトもできます！
            </p>
        </div>
    </section>
    <section id="section-access">
        <div class="container container-sm">
            <div class="animatedParent animateOnce" data-sequence="500">
                <div class="section-ttl mbpc-33 mbsp-33 animated fadeInUp2" data-id="1">
                    <h2>アクセス</h2>
                    <p>Access</p>
                </div>
                <ul class="location-intro animated fadeInUp2" data-id="2">
                    <li class="item">
                        <figure>
                            <img src="<%= RELATIVE_PATH %>images/photos/img-nagoya@2x.jpg" alt="ikotto nagoya">
                            <figcaption>バランス食堂 IKOTTO （イコット）名古屋</figcaption>
                        </figure>
                        <p class="txt-basic txt-center mtpc-20 pc">
                            愛知県名古屋市中区三の丸3-1-1 名古屋市役所本庁舎 B1F<br>
                            市役所駅から徒歩約２分（168ｍ）
                        </p>
                        <p class="txt-basic txt-center mtsp-20 sp">
                            愛知県名古屋市中区三の丸3-1-1<br>
                            名古屋市役所本庁舎 B1F<br>
                            市役所駅から徒歩約２分（168ｍ）
                        </p>
                        <p class="txt-basic txt-center txt-strong mtpc-10 mbpc-20 pc">
                            10:00～15:30(ランチは 11:00～14:00)／月〜金（祝日除く）
                        </p>
                        <p class="txt-basic txt-center txt-strong mtsp-10 mbsp-20 sp">
                            10:00～15:30(ランチは 11:00～14:00)／<br>
                            月〜金（祝日除く）
                        </p>
                        <a href="https://www.google.com/maps/place/Nagoya+City+Hall/@35.1814375,136.9042315,17z/data=!3m1!4b1!4m5!3m4!1s0x6003712dbfa2718f:0x6dc8f7587fe509fd!8m2!3d35.1814375!4d136.9064202"
                           role="button"
                           class="btn btn-orange btn-block" target="_blank" rel="noopener noreferrer">GoogleMapで開く</a>
                    </li>
                    <li class="item">
                        <figure>
                            <img src="<%= RELATIVE_PATH %>images/photos/img-anjo@2x.jpg" alt="ikotto anjo">
                            <figcaption>バランス食堂 IKOTTO （イコット）安城</figcaption>
                        </figure>
                        <p class="txt-basic txt-center mtpc-20 mtsp-20">
                            愛知県安城市 桜町18-23 安城市役所<br>
                            安城駅から徒歩約10分（608m）
                        </p>
                        <p class="txt-basic txt-center txt-strong mtpc-10 mtsp-10 mbpc-20 mbsp-20">
                            11:00～14:00／月〜金（祝日除く）
                        </p>
                        <a href="https://www.google.com/maps/search/%E5%AE%89%E5%9F%8E%E5%B8%82%E5%BD%B9%E6%89%80/@34.9592274,137.0769186,18z/data=!3m1!4b1"
                           role="button" class="btn btn-orange btn-block" target="_blank" rel="noopener noreferrer">GoogleMapで開く</a>
                    </li>
                </ul>
            </div>
        </div>
    </section>
    <section id="section-contact-us">
        <div class="container container-sm">
            <div class="animatedParent animateOnce">
                <p class="txt-lead txt-center mbpc-30 mbsp-30 animated fadeInUp2">
                    取材・メディア掲載に関するお問い合わせは、<br class="sp">こちらからご連絡ください。
                </p>
                <p class="txt-center animated growIn">
                    <a href="<%= RELATIVE_PATH %>contact/index.html" class="btn btn-outline-black"
                       role="button" target="_blank">
                        取材・メディア掲載に関するお問い合わせ
                    </a>
                </p>
                <p class="txt-center mtpc-20 mtsp-10">
                    <a href="http://www.kinrosyoku.co.jp/" target="_blank" rel="noreferrer noopener" class="txt-basic link-basic">
                        運営会社：株式会社勤労食の企業サイト
                    </a>
                </p>
            </div>
        </div>
    </section>
</main>