<main class="contents page-<%= pageData.template %>">
    <% include common/_breadcrumbs.ejs %>
    <section class="page-heading page-heading-<%= pageData.template %>">
        <h1 class="title"><%= pageData.h1 %></h1>
        <p class="txt">Business</p>
    </section>
    <section class="business-mess mbpc-100">
        <div class="container">
            <div class="section-heading">
                <h2 class="title">メッセージ</h2>
                <p class="txt">Message</p>
            </div>
            <div class="row">
                <div class="col-12">
                    <p class="txt-basic lh2 mbpc-30 txt-center">
                        私たち、伊賀井商店は昭和21年の創業以来、<br>
                        ブリキ板の卸売・切断加工を通じて確かな技術と経験を長年、培ってきました。<br>
                        そして今では多くのお客様にご愛顧いただき、ここまで成長することができました。<br>
                        これからもお客様のニーズにお応えすることが<br>
                        業界だけでなく社会全体への貢献にもつながっていくと考え、<br>
                        現状に満足することなく新しい領域にも挑戦してまいります。
                    </p>
                </div>
            </div>
        </div>
    </section>
    <section class="business-tinplate mbpc-100">
        <div class="container">
            <div class="section-heading">
                <h2 class="title">ブリキ加工</h2>
                <p class="txt">Tinplate</p>
            </div>
            <div class="row">
                <div class="col-12">
                    <p class="txt-basic lh2 mbpc-30 txt-center">
                        伊賀井商店ではブリキを専門に取り扱っております。<br>
                        ブリキとは鋼鈑に“ 錫（すず）”メッキをしたものであり、<br>
                        主に飲料缶やお菓子缶、18ℓ缶（一斗缶）などに使用されています。<br>
                        特長としては気密性や遮光性、耐食性に優れているため<br>
                        中身の品質を一定に保つことが出来るだけでなく、美しい金属光沢があり、<br>
                        印刷がきれいに仕上がるため商品価値を高めることが出来ます。<br>
                        そんなブリキを長年、缶メーカーへ安定して供給しております。
                    </p>
                    <img class="w100" alt="img" src="<%= RELATIVE_PATH %>images/photos/business/img-01.png"/>
                </div>
            </div>
        </div>
    </section>
    <section class="business-factory mbpc-90">
        <div class="container">
            <div class="section-heading">
                <h2 class="title">設備紹介</h2>
                <p class="txt">Factory</p>
            </div>
            <div class="row mbpc-20">
                <div class="col-12 ">
                    <h3 class="heading-02 ">レベラー加工ライン</h3>
                    <p class="txt-basic ">母材コイルからお客様の指定寸法に合わせて切断・梱包し出荷いたします。</p>
                </div>
            </div>
            <div class="row mbpc-20">
                <div class="img col-12">
                    <img class="w100" alt="img" src="<%= RELATIVE_PATH %>images/photos/business/fc-01.png"/>
                </div>
            </div>
            <div class="row mbpc-20">
                <h3 class="col-12 heading-03">
                    レベラー加工の流れ
                </h3>
            </div>
            <div class="row  mbpc-20 ">
                <div class="col-12">
                    <ul class="list-factory">
                        <li class="col-4 item">
                            <figure>
                                <img alt="img" src="<%= RELATIVE_PATH %>images/photos/business/fc-01.jpg"/>
                                <figcaption class="txt-center txt-basic">
                                    ペイオフリール
                                </figcaption>
                            </figure>
                        </li>
                        <li class="col-4 item">
                            <figure>
                                <img alt="img" src="<%= RELATIVE_PATH %>images/photos/business/fc-02.jpg"/>
                                <figcaption class="txt-center txt-basic">
                                    ピンホール検出機
                                </figcaption>
                            </figure>
                        </li>
                        <li class="col-4 item">
                            <figure>
                                <img alt="img" src="<%= RELATIVE_PATH %>images/photos/business/fc-03.jpg"/>
                                <figcaption class="txt-center txt-basic">
                                    サイドトリマー
                                </figcaption>
                            </figure>
                        </li>
                        <li class="col-4 item">
                            <figure>
                                <img alt="img" src="<%= RELATIVE_PATH %>images/photos/business/fc-04.jpg"/>
                                <figcaption class="txt-center txt-basic">
                                    レベラー
                                </figcaption>
                            </figure>
                        </li>
                        <li class="col-4 item">
                            <figure>
                                <img alt="img" src="<%= RELATIVE_PATH %>images/photos/business/fc-05.jpg"/>
                                <figcaption class="txt-center txt-basic">
                                    ロータリーシャー
                                </figcaption>
                            </figure>
                        </li>
                        <li class="col-4 item">
                            <figure>
                                <img alt="img" src="<%= RELATIVE_PATH %>images/photos/business/fc-06.jpg"/>
                                <figcaption class="txt-center txt-basic">
                                    積載 ２基
                                </figcaption>
                            </figure>
                        </li>
                    </ul>
                </div>
            </div>
            <div class="row mbpc-20">
                <div class="col-12">
                    <h3 class="heading-02 ">座金プレス加工ライン</h3>
                    <p class="txt-basic ">フープと呼ばれる細長いコイル状の板から砥石の座金部分をプレス加工いたします。</p>
                </div>
            </div>
            <div class="row mbpc-20">
                <div class="col-12 list-factory-02">
                    <div class="img-left img">
                        <img class="w100" alt="img" src="<%= RELATIVE_PATH %>images/photos/business/img-06.png"/>
                    </div>
                    <ul class="img-right img">
                        <li class="item"><img class="w100" alt="img" src="<%= RELATIVE_PATH %>images/photos/business/img-07.jpg"/></li>
                        <li class="item"><img class="w100" alt="img" src="<%= RELATIVE_PATH %>images/photos/business/img-08.jpg"/></li>
                        <li class="item"><img class="w100" alt="img" src="<%= RELATIVE_PATH %>images/photos/business/img-09.jpg"/></li>
                        <li class="item"><img class="w100" alt="img" src="<%= RELATIVE_PATH %>images/photos/business/img-10.jpg"/></li>
                    </ul>
                </div>
            </div>
            <div class="row mbpc-20">
                <h3 class="col-12 heading-03">
                    プレス加工ラインの主な設備
                </h3>
            </div>
            <div class="row">
                <div class="col-12">
                    <ul class="list-factory-note">
                        <li class="col-4 item">

                                <p class="txt-center txt-basic">
                                    10トン　単発プレス1基
                                </p>

                        </li>
                        <li class="col-4 item">

                                <p class="txt-center txt-basic">
                                    25トン　エアークラッチ1基
                                </p>

                        </li>
                        <li class="col-4 item">
                                <p class="txt-center txt-basic">
                                    45トン　エアークラッチ2基
                                </p>
                        </li>
                        <li class="col-4 item">
                                <p class="txt-center txt-basic">
                                    45トン　サーボプレス1基
                                </p>
                        </li>
                        <li class="col-4 item">
                                <p class="txt-center txt-basic">
                                    60トン　サーボプレス1基
                                </p>
                        </li>

                    </ul>
                </div>
            </div>
        </div>
    </section>
    <section class="business-client">
        <div class="container">
            <div class="section-heading">
                <h2 class="title">取引先</h2>
                <p class="txt">Client</p>
            </div>
            <div class="row mbpc-50">
                <div class="site-map col-12 site-map-02">
                    <div class="title mbpc-15">主要取引先</div>
                    <ul>
                        <li>藤井容器工業株式会社</li>
                        <li>株式会社MOBY
                        </li>
                        <li>株式会社メタルワン
                        </li>
                        <li>社会福祉法人名古屋ライトハウス
                        </li>
                        <li>日本レヂボン株式会社</li>
                        <li>日鉄物産株式会社
                        </li>
                        <li>日東製罐株式会社</li>
                        <li>
                            中村商事株式会社
                        </li>
                        <li>
                            富安株式会社</li>
                        <li>金方堂松本工業株式会社</li>
                        <li>
                            環産業株式会社</li>

                    </ul>
                </div>
            </div>
            <div class="row">
                <div class="col-12 site-map">
                    <div class="title mbpc-15">主要取扱メーカー</div>
                    <ul>
                        <li>日本製鉄株式会社</li>
                        <li>JFEスチール株式会社</li>
                    </ul>
                </div>
            </div>
        </div>
    </section>
    <% include common/_footer.ejs %>
</main>