<main class="page-<%= pageData.template %>">
    <section class="page-heading">
        <div class="container">
            <h1><%= pageData.h1 %></h1>
            <% include common/_breadcrumbs.ejs %>
        </div>
    </section>
    <section class="gallery-block mtpc-65 mtsp-30">
        <div class="container">
            <h2 class="txt-basic txt-basic-bold mbpc-55 mbsp-30">
                久野金属工業では社内・外で様々な取り組みがあり、その様子を紹介させていただきます
            </h2>
            <div class="flex-row wrap gallery-list mbpc-35 mbsp-20">
                <a href="<%= RELATIVE_PATH %>recruit/gallery/detail.html" class="item col-pc-32p col-tb-48p col-sp-100p">
                    <h3 class="title-01 mbsp-10 mbpc-10">安全啓発・清掃活動</h3>
                    <div class="images w100 mbsp-10 mbpc-10">
                        <!--<img src="<%= RELATIVE_PATH %>images/photos/gallery/img-01.jpg" alt="img">-->
                        <img src="<%= RELATIVE_PATH %>images/test.jpg" alt="img">
                    </div>
                    <p class="txt-basic">
                        四半期に一回のペースで弥富本社近くの交差点で安全啓発活動と、本社前の道の清掃活動を同時に行っています。
                    </p>
                </a>
                <a href="<%= RELATIVE_PATH %>recruit/gallery/detail.html" class="item col-pc-32p col-tb-48p col-sp-100p">
                    <h3 class="title-01 mbsp-10 mbpc-10">フットサル大会</h3>
                    <div class="images video w100 mbsp-10 mbpc-10">
                        <img src="<%= RELATIVE_PATH %>images/photos/gallery/img-02.jpg" alt="img">
                    </div>
                    <p class="txt-basic">
                        グループ会社で行われているフットサル大会に参加させていただいた様子です。
                    </p>
                </a>
                <a  href="#" class="item col-pc-32p col-tb-48p col-sp-100p">
                    <h3 class="title-01 mbsp-10 mbpc-10">拠点イベント</h3>
                    <div class="images w100 mbsp-10 mbpc-10">
                        <img src="<%= RELATIVE_PATH %>images/photos/gallery/img-03.jpg" alt="img">
                    </div>
                    <p class="txt-basic">
                        各拠点でご家族の方もお呼びして、バーベキューや夏祭りなどのイベントを開催しています。
                    </p>
                </a>
                <a href="<%= RELATIVE_PATH %>recruit/gallery/detail.html" class="item col-pc-32p col-tb-48p col-sp-100p">
                    <h3 class="title-01 mbsp-10 mbpc-10">安全啓発・清掃活動</h3>
                    <div class="images video w100 mbsp-10 mbpc-10">
                        <img src="<%= RELATIVE_PATH %>images/photos/gallery/img-04.jpg" alt="img">
                    </div>
                    <p class="txt-basic">
                        四半期に一回のペースで弥富本社近くの交差点で安全啓発活動と、本社前の道の清掃活動を同時に行っています。
                    </p>
                </a>
                <a href="<%= RELATIVE_PATH %>recruit/gallery/detail.html" class="item col-pc-32p col-tb-48p col-sp-100p">
                    <h3 class="title-01 mbsp-10 mbpc-10">フットサル大会</h3>
                    <div class="images w100 mbsp-10 mbpc-10">
                        <img src="<%= RELATIVE_PATH %>images/photos/gallery/img-01.jpg" alt="img">
                    </div>
                    <p class="txt-basic">
                        グループ会社で行われているフットサル大会に参加させていただいた様子です。
                    </p>
                </a>
                <a href="<%= RELATIVE_PATH %>recruit/gallery/detail.html" class="item col-pc-32p col-tb-48p col-sp-100p">
                    <h3 class="title-01 mbsp-10 mbpc-10">拠点イベント</h3>
                    <div class="images video w100 mbsp-10 mbpc-10">
                        <img src="<%= RELATIVE_PATH %>images/photos/gallery/img-02.jpg" alt="img">
                    </div>
                    <p class="txt-basic">
                        各拠点でご家族の方もお呼びして、バーベキューや夏祭りなどのイベントを開催しています。
                    </p>
                </a>
                <a href="<%= RELATIVE_PATH %>recruit/gallery/detail.html" class="item col-pc-32p col-tb-48p col-sp-100p">
                    <h3 class="title-01 mbsp-10 mbpc-10">安全啓発・清掃活動</h3>
                    <div class="images w100 mbsp-10 mbpc-10">
                        <img src="<%= RELATIVE_PATH %>images/photos/gallery/img-03.jpg" alt="img">
                    </div>
                    <p class="txt-basic">
                        四半期に一回のペースで弥富本社近くの交差点で安全啓発活動と、本社前の道の清掃活動を同時に行っています。
                    </p>
                </a>
                <a href="<%= RELATIVE_PATH %>recruit/gallery/detail.html" class="item col-pc-32p col-tb-48p col-sp-100p">
                    <h3 class="title-01 mbsp-10 mbpc-10">フットサル大会</h3>
                    <div class="images w100 mbsp-10 mbpc-10">
                        <img src="<%= RELATIVE_PATH %>images/photos/gallery/img-04.jpg" alt="img">
                    </div>
                    <p class="txt-basic">
                        グループ会社で行われているフットサル大会に参加させていただいた様子です。
                    </p>
                </a>
                <a href="<%= RELATIVE_PATH %>recruit/gallery/detail.html" class="item col-pc-32p col-tb-48p col-sp-100p">
                    <h3 class="title-01 mbsp-10 mbpc-10">拠点イベント</h3>
                    <div class="images w100 mbsp-10 mbpc-10">
                        <img src="<%= RELATIVE_PATH %>images/photos/gallery/img-01.jpg" alt="img">
                    </div>
                    <p class="txt-basic">
                        各拠点でご家族の方もお呼びして、バーベキューや夏祭りなどのイベントを開催しています。
                    </p>
                </a>
            </div>
        </div>
    </section>
</main>