<main class="page-<%= pageData.template %>">
    <section class="page-heading">
        <div class="container">
            <h1><%= pageData.h1 %></h1>
            <% include common/_breadcrumbs.ejs %>
        </div>
    </section>
    <section class="recruit-vision">
        <div class="container">
            <img src="<%= RELATIVE_PATH %>images/photos/recruit/vision/vision-head-txt@2x.png" alt="" width="524" class="mbpc-20 mbsp-10 mtpc-40 mtsp-20">
            <p class="txt-head">
                自働化、電動化が進む自動車業界は、「100年に一度の変革期」と言われています。<br>
                私たちは、そういった時代の先を見据え、10年以上前から対策に乗り出してきました。<br>
                その種まきは順調に実り、2024年前後には売上100億円に達する見込みです。<br>
                しかし、これはただの通過点に過ぎません。さらなる高みを目指し、<br>
                新たな戦略と共に飛躍していく所存です。
            </p>
            <ul class="vision-cards-list">
                <li class="item">
                    <div class="item-wrapper">
                        <img src="<%= RELATIVE_PATH %>images/photos/recruit/vision/vision-icn-01@2x.png" alt="">
                        <p class="txt-basic">
                            IoT技術を用いて工場設備の稼働状況を見える化し、生産性向上と環境負荷低減を提供する新クラウドシステム「IoT GO」を開発。自社のみならず、サービスを外部に発信することで、業界全体のベースアップをはかっています。その成果は、「2019年愛知環境賞」優秀賞を受賞したことでも裏付けされています。
                        </p>
                    </div>
                </li>
                <li class="item">
                    <div class="item-wrapper">
                        <img src="<%= RELATIVE_PATH %>images/photos/recruit/vision/vision-icn-02@2x.png" alt="">
                        <p class="txt-basic">
                            当社の強みは、一つ先を行く技術力とその技術を活かすための設備。その双方がかみ合うことで、開発力と量産力を生み出しています。現在、当社には自社開発の施設（ロボット）が140台ほどあります。このロボットにAIを結びつけることで人間が判断しなくても稼働するシステムを作り、さらなる生産性向上を目指します。
                        </p>
                    </div>
                </li>
                <li class="item">
                    <div class="item-wrapper">
                        <img src="<%= RELATIVE_PATH %>images/photos/recruit/vision/vision-icn-03@2x.png" alt="">
                        <p class="txt-basic">
                            年間30〜40人規模での増員計画のある当社では、より強固で柔軟な会社づくりをするため、インナーブランディングに注力していく予定です。外部研修、外部講師の招聘などをはじめ、社員一人ひとりがやりがいを持って仕事人としての質を上げていけるよう、全社を通して、3000時間の研修時間を投入していく予定です。
                        </p>
                    </div>
                </li>
            </ul>
        </div>
    </section>
</main>