<main class="page-<%= pageData.template %>">
    <section class="page-heading">
        <div class="container">
            <h1><%= pageData.h1 %></h1>
            <% include common/_breadcrumbs.ejs %>
        </div>
    </section>
    <section class="gallery-block mtpc-65 mtsp-30">
        <div class="container">
            <h2 class="title-02 bold mbpc-15 mbsp-15">
                安全啓発・清掃活動
            </h2>
            <p class="txt-basic mbpc-60 mbsp-30">
                ダミーダミー久野金属工業では社内・外で様々な取り組みがあり、その様子を紹介させていただきます <br>
                久野金属工業では社内・外で様々な取り組みがあり、その様子を紹介させていただきます
            </p>
            <div class="flex-row wrap gallery-list">
                <a href="<%= RELATIVE_PATH %>images/photos/gallery/img-01.jpg" data-fancybox rel="gallery1"  data-width="760" data-height="570"
                   class="item col-pc-32p col-tb-48p col-sp-100p">

                    <div class="images w100 mbsp-10 mbpc-10">
                        <img src="<%= RELATIVE_PATH %>images/photos/gallery/img-01.jpg" alt="img">
                    </div>
                    <h3 class="txt-basic">
                        グループ会社で行われているフットサル大会に参加させていただいた様子です。
                    </h3>
                </a>
                <a href="https://www.youtube.com/watch?v=_sI_Ps7JSEk&amp;autoplay=1&amp;"
                   data-fancybox class="item col-pc-32p col-tb-48p col-sp-100p">

                    <div class="images video w100 mbsp-10 mbpc-10">
                        <img src="<%= RELATIVE_PATH %>images/photos/gallery/img-02.jpg" alt="img">
                    </div>
                    <h3 class="txt-basic">
                        グループ会社で行われているフットサル大会に参加させていただいた様子です。
                    </h3>
                </a>
                <a href="<%= RELATIVE_PATH %>images/photos/gallery/img-03.jpg" data-fancybox data-width="760" data-height="570"
                   class="item col-pc-32p col-tb-48p col-sp-100p">

                    <div class="images w100 mbsp-10 mbpc-10">
                        <img src="<%= RELATIVE_PATH %>images/photos/gallery/img-03.jpg" alt="img">
                    </div>
                    <h3 class="txt-basic">
                        グループ会社で行われているフットサル大会に参加させていただいた様子です。
                    </h3>
                </a>
                <a href="https://www.youtube.com/watch?v=_sI_Ps7JSEk&amp;autoplay=1&amp;"
                   data-fancybox class="item col-pc-32p col-tb-48p col-sp-100p">

                    <div class="images video w100 mbsp-10 mbpc-10">
                        <img src="<%= RELATIVE_PATH %>images/photos/gallery/img-04.jpg" alt="img">
                    </div>
                    <h3 class="txt-basic">
                        グループ会社で行われているフットサル大会に参加させていただいた様子です。
                    </h3>
                </a>
                <a href="<%= RELATIVE_PATH %>images/photos/gallery/img-01.jpg" data-fancybox data-width="760" data-height="570"
                   class="item col-pc-32p col-tb-48p col-sp-100p">

                    <div class="images w100 mbsp-10 mbpc-10">
                        <img src="<%= RELATIVE_PATH %>images/photos/gallery/img-01.jpg" alt="img">
                    </div>
                    <h3 class="txt-basic">
                        グループ会社で行われているフットサル大会に参加させていただいた様子です。
                    </h3>
                </a>
                <a href="https://www.youtube.com/watch?v=_sI_Ps7JSEk&amp;autoplay=1&amp;"
                   data-fancybox class="item col-pc-32p col-tb-48p col-sp-100p">

                    <div class="images video w100 mbsp-10 mbpc-10">
                        <img src="<%= RELATIVE_PATH %>images/photos/gallery/img-02.jpg" alt="img">
                    </div>
                    <h3 class="txt-basic">
                        グループ会社で行われているフットサル大会に参加させていただいた様子です。
                    </h3>
                </a>
                <a href="<%= RELATIVE_PATH %>images/photos/gallery/img-03.jpg" data-fancybox data-width="760" data-height="570"
                   class="item col-pc-32p col-tb-48p col-sp-100p">

                    <div class="images w100 mbsp-10 mbpc-10">
                        <img src="<%= RELATIVE_PATH %>images/photos/gallery/img-03.jpg" alt="img">
                    </div>
                    <h3 class="txt-basic">
                        グループ会社で行われているフットサル大会に参加させていただいた様子です。
                    </h3>
                </a>
                <a href="<%= RELATIVE_PATH %>images/photos/gallery/img-04.jpg" data-fancybox data-width="760" data-height="570"
                   class="item col-pc-32p col-tb-48p col-sp-100p">

                    <div class="images w100 mbsp-10 mbpc-10">
                        <img src="<%= RELATIVE_PATH %>images/photos/gallery/img-04.jpg" alt="img">
                    </div>
                    <h3 class="txt-basic">
                        グループ会社で行われているフットサル大会に参加させていただいた様子です。
                    </h3>
                </a>
                <a href="<%= RELATIVE_PATH %>images/photos/gallery/img-01.jpg" data-fancybox data-width="760" data-height="570"
                   class="item col-pc-32p col-tb-48p col-sp-100p">

                    <div class="images w100 mbsp-10 mbpc-10">
                        <img src="<%= RELATIVE_PATH %>images/photos/gallery/img-01.jpg" alt="img">
                    </div>
                    <h3 class="txt-basic">
                        グループ会社で行われているフットサル大会に参加させていただいた様子です。
                    </h3>
                </a>
                <a href="<%= RELATIVE_PATH %>images/photos/gallery/img-01.jpg" data-fancybox data-width="760" data-height="570"
                   class="item col-pc-32p col-tb-48p col-sp-100p">

                    <div class="images w100 mbsp-10 mbpc-10">
                        <img src="<%= RELATIVE_PATH %>images/photos/gallery/img-01.jpg" alt="img">
                    </div>
                    <h3 class="txt-basic">
                        グループ会社で行われているフットサル大会に参加させていただいた様子です。
                    </h3>
                </a>
                <a href="https://www.youtube.com/watch?v=_sI_Ps7JSEk&amp;autoplay=1&amp;"
                   data-fancybox class="item col-pc-32p col-tb-48p col-sp-100p">

                    <div class="images video w100 mbsp-10 mbpc-10">
                        <img src="<%= RELATIVE_PATH %>images/photos/gallery/img-02.jpg" alt="img">
                    </div>
                    <h3 class="txt-basic">
                        グループ会社で行われているフットサル大会に参加させていただいた様子です。
                    </h3>
                </a>
                <a href="<%= RELATIVE_PATH %>images/photos/gallery/img-03.jpg" data-fancybox data-width="760" data-height="570"
                   class="item col-pc-32p col-tb-48p col-sp-100p">

                    <div class="images w100 mbsp-10 mbpc-10">
                        <img src="<%= RELATIVE_PATH %>images/photos/gallery/img-03.jpg" alt="img">
                    </div>
                    <h3 class="txt-basic">
                        グループ会社で行われているフットサル大会に参加させていただいた様子です。
                    </h3>
                </a>
                <a href="https://www.youtube.com/watch?v=_sI_Ps7JSEk&amp;autoplay=1&amp;"
                   data-fancybox class="item col-pc-32p col-tb-48p col-sp-100p">

                    <div class="images video w100 mbsp-10 mbpc-10">
                        <img src="<%= RELATIVE_PATH %>images/photos/gallery/img-04.jpg" alt="img">
                    </div>
                    <h3 class="txt-basic">
                        グループ会社で行われているフットサル大会に参加させていただいた様子です。
                    </h3>
                </a>
                <a href="<%= RELATIVE_PATH %>images/photos/gallery/img-01.jpg" data-fancybox data-width="760" data-height="570"
                   class="item col-pc-32p col-tb-48p col-sp-100p">

                    <div class="images w100 mbsp-10 mbpc-10">
                        <img src="<%= RELATIVE_PATH %>images/photos/gallery/img-01.jpg" alt="img">
                    </div>
                    <h3 class="txt-basic">
                        グループ会社で行われているフットサル大会に参加させていただいた様子です。
                    </h3>
                </a>
                <a href="https://www.youtube.com/watch?v=_sI_Ps7JSEk&amp;autoplay=1&amp;"
                   data-fancybox class="item col-pc-32p col-tb-48p col-sp-100p">

                    <div class="images video w100 mbsp-10 mbpc-10">
                        <img src="<%= RELATIVE_PATH %>images/photos/gallery/img-02.jpg" alt="img">
                    </div>
                    <h3 class="txt-basic">
                        グループ会社で行われているフットサル大会に参加させていただいた様子です。
                    </h3>
                </a>

            </div>


            <ul class="qn mtpc-35 mtsp-20 mbpc-80 mbsp-40">
                <li class="qp">
                    <a class="qo" href="#" aria-label="Previous">
                        &#x3C;
                    </a>
                </li>
                <li class="qp active"><a class="qo" href="#">1</a></li>
                <li class="qp"><a class="qo" href="#">2</a></li>
                <li class="qp"><a class="qo" href="#">3</a></li>
                <li class="qp"><a class="qo" href="#">4</a></li>
                <li class="qp">
                    <a class="qo" href="#" aria-label="Next">
                        &#x3E;
                    </a>
                </li>
            </ul>

        </div>

    </section>
</main>