<main class="page-<%= pageData.template %>">
    <section class="page-heading">
        <div class="container">
            <h1><%= pageData.h1 %></h1>
            <% include common/_breadcrumbs.ejs %>
        </div>
    </section>
    <section class="banner-carrier mtpc-75 mtsp-40 mbpc-80 mbsp-40">
        <div class="container">
            <div class="row">
                <div class="banner-content">
                    <img src="<%= RELATIVE_PATH %>images/photos/recruit/carrier_step/img-01.jpg" alt="img">
                    <div class="txtbox-content">
                        <p class="mbpc-10 mbsp-10">総務部 部長</p>
                        <h2 class="mbpc-10 mbsp-10">谷川 修治</h2>
                        <span>2002年入社</span>
                    </div>
                </div>
                <div class="banner-timeline">
                    <img src="<%= RELATIVE_PATH %>images/photos/recruit/carrier_step/time-line.png" alt="img">
                </div>
            </div>
        </div>
    </section>
    <section class="interview mbpc-65 mbsp-30">
        <div class="container">
            <h2 class="interview-title mbpc-20 mbsp-20">interview</h2>
            <ul class="interview-list">
                <li class="interview-item col-sp-100p mbpc-40 mbsp-20 row">
                    <div class="content col-12 col-md-8">
                        <h3 class="title">色々な経験があったから、今の自分がある</h3>
                        <p class="exerpt txt-basic">
                            全く畑違いの銀行からの転職。製品を作ること、立ち仕事、生産管理…すべてが初めての経験でした。営業部時代は、ルート営業と言いながらも、同じ取引先の中で新たに工場との契約を結ぶこともあり、製造部で実際に製品を作っていたこと、管理部で納期までのスケジュールを管理していたことなど、どの経験も欠かせないステップでした。今の自分があるのも、色々な部署で色々な経験をさせてもらえたからこそ。次は、同じようなキャリアアップのチャンスを後輩たちに発信していきたいですね。
                        </p>
                    </div>
                    <div class="img col-12 col-md-4">
                        <img src="<%= RELATIVE_PATH %>images/photos/recruit/carrier_step/img-02.jpg" alt="img">
                    </div>
                </li>
                <li class="interview-item col-sp-100p mbpc-60 mbsp-30 row row-reverse">
                    <div class="content col-12 col-md-7">
                        <h3 class="title">一人ひとりの頑張りや実績を <br>
                            目に見える形で正当に評価</h3>
                        <p class="exerpt txt-basic">
                            当社では、新卒・中途採用関係なく、個人の頑張りを正当に認めてくれる会社です。私も、全くの異業種から転職し、また入社後は様々な部署を経てきました。わからないことだらけで苦労もしましたが、その都度、その部署でできることを考え、結果を出してきたつもりです。その評価が今の役職につながっていると自負しています。昇給や昇進が全てではありませんが、目に見える形で会社から評価してもらえることはとても大事なこと。今は上に立つ者として、社員一人ひとりのやる気と頑張りを引き上げていきたいと考えています。
                        </p>
                    </div>
                    <div class="img col-12 col-md-5">
                        <img src="<%= RELATIVE_PATH %>images/photos/recruit/carrier_step/img-03.jpg" alt="img">
                    </div>
                </li>
                <li class="interview-item col-sp-100p row">
                    <div class="content col-12 col-md-7">
                        <h3 class="title">チャレンジ精神旺盛な人材と、<br>
                            次のステージへつなげていきたい</h3>
                        <p class="exerpt txt-basic">
                            手前味噌のようですが、事実、当社は業界の中で一歩先を行く会社です。他社で実現不可能と言われている技術も当社では果敢に挑戦・実現し、着実に受注に結びつけてきました。そのチャレンジ精神は、当社の最大の強みであり財産です。そして、全ての社員にあらゆる可能性を提供したいと考えています。組織の歯車ではなく、自らのアイデアで何かを成し遂げてみたい、そんな意欲に満ちた人材を大歓迎。共にさらなる上を目指し、次の次元へつなげていきたいと思っています。
                        </p>
                    </div>
                    <div class="img col-12 col-md-5">
                        <img src="<%= RELATIVE_PATH %>images/photos/recruit/carrier_step/img-04.jpg" alt="img">
                    </div>
                </li>
            </ul>
        </div>
    </section>
</main>