<main class="page-<%= pageData.template %>">
    <section class="page-heading">
        <div class="container">
            <h1><%= pageData.h1 %></h1>
            <% include common/_breadcrumbs.ejs %>
        </div>
    </section>
    <section class="banner-top mbpc-70 mbsp-30">
        <div class="container">
            <div class="banner-content">
                <h2 class="ttl mbpc-30 mbsp-20">
                    久野金属工業の名を全国に残したい！<br>
                    それが僕の目標であり使命
                </h2>
                <div class="desc">
                    上入佐 忠敬 <span>（2017年入社）</span>
                </div>
            </div>
        </div>
    </section>
    <section class="active-staff-info">
        <div class="container">
            <h3 class="staff-ttl txt-center mbpc-40 mbsp-20">
                スポーツと仕事を両立する社会人スポーツ選手は <br>
                どんな一日を過ごしていますか？
            </h3>
            <p class="txt-basic mbpc-45 mbsp-20">
                僕がバドミントンを始めたのは、小学1年生の時。友達がやっていたから何となく始めた、というスタートでした。最初はお遊び程度でしたが、少しずつ力がついてくるとやはり何かタイトルが欲しくなるんですよね。それで、小学校高学年から本格的に取り組みだし、6年生の時、県大会で優勝したのをきっかけにクラブチームに所属しました。
                <br>
                社会人スポーツ選手の道を志す転機になったのは、高校時代のインターハイ出場。当時の自分にとってはまさに憧れの舞台で、出場できただけでも夢のようでしたが、思っていた以上の結果を残すことができ、それが次への自信となり、今の実業団の選手としての道へつながりました。
                <br>
                現在は、週2回、就労後みっちり4時間の練習を行なっています。練習がない日も自分なりのメニューでトレーニングをこなし、録画した世界ランクの選手の映像を見て研究しています。もちろん、仕事中は仕事に集中しますが、休憩時間は次の練習メニューやより効果的なトレーニング法を考えたり、頭の中はバドミントン一色。割合で言うと、「バドミントン：仕事＝８：２」くらいでしょうか（笑）。でも、そのそれぞれの割合の中ではどちらも全力投球。そんな集中できる環境を用意していただき、とても充実した毎日を送っています。
            </p>
            <div class="staff-time mbpc-50 mbsp-20">
                <div class="staff-time-ttl">
                    1日のスケジュール
                </div>
                <ul class="list-time">
                    <li class="item">
                        <div class="clock" data-hour="5" data-minute="00">
                            <div class="clock-minute"></div>
                            <div class="clock-hour"></div>
                        </div>
                        <div class="time-content">
                            <div class="dt">5:00 起床</div>
                            <div class="txt-basic">その日の体調を知るためにも、起きたらまず30分のジョギングを行います。</div>
                        </div>
                    </li>
                    <li class="item">
                        <div class="clock" data-hour="7" data-minute="00">
                            <div class="clock-minute"></div>
                            <div class="clock-hour"></div>
                        </div>
                        <div class="time-content">
                            <div class="dt">7:00 出社</div>
                            <div class="txt-basic">
                                就業時間は8:10からですが、機械の暖気など早めに出社して準備をします。<br>
                                ちなみに通勤手段は自転車です。
                            </div>
                        </div>
                    </li>
                    <li class="item">
                        <div class="clock" data-hour="12" data-minute="20">
                            <div class="clock-minute"></div>
                            <div class="clock-hour"></div>
                        </div>
                        <div class="time-content">
                            <div class="dt">12:20 お昼休憩</div>
                            <div class="txt-basic">
                                昼食は、会社で注文するお弁当です。トレーニングや練習内容について考えたいので、 <br>
                                一人で食事をすることがほとんどです。
                            </div>
                        </div>
                    </li>
                    <li class="item">
                        <div class="clock" data-hour="1" data-minute="10">
                            <div class="clock-minute"></div>
                            <div class="clock-hour"></div>
                        </div>
                        <div class="time-content">
                            <div class="dt">13:10 午後の勤務</div>
                            <div class="txt-basic">
                                午前中に自身で組み立てたスケジュールに沿って、金属の切削、金型加工、形状加工などを行います。
                            </div>
                        </div>
                    </li>
                    <li class="item">
                        <div class="clock" data-hour="5" data-minute="10">
                            <div class="clock-minute"></div>
                            <div class="clock-hour"></div>
                        </div>
                        <div class="time-content">
                            <div class="dt">17:10 チーム練習</div>
                            <div class="txt-basic">
                                近くの市民体育館へ移動し、チーム練習に参加します。基礎打ちからノック、 <br>
                                実戦を見据えたパターン練習やミニゲームなど、監督と相談しながら自分たちで決めたメニューで、 <br>
                                4時間みっちり練習を行います。
                            </div>
                        </div>
                    </li>
                    <li class="item">
                        <div class="clock" data-hour="10" data-minute="00">
                            <div class="clock-minute"></div>
                            <div class="clock-hour"></div>
                        </div>
                        <div class="time-content">
                            <div class="dt">22:00 帰宅・夕食</div>
                            <div class="txt-basic">
                                夕食はほぼ自炊です。一人暮らしなので、野菜が不足しないよう、バランスを考えた献立を <br>
                                心がけています。
                            </div>
                        </div>
                    </li>
                    <li class="item">
                        <div class="clock" data-hour="11" data-minute="45">
                            <div class="clock-minute"></div>
                            <div class="clock-hour"></div>
                        </div>
                        <div class="time-content">
                            <div class="dt">23:45 就寝</div>
                            <div class="txt-basic">
                                寝る前に片手10kgのダンベルで筋トレをし、生活リズムを崩さないよう、必ず23:45に <br>
                                布団に入ることをルーティン化しています。
                            </div>
                        </div>
                    </li>
                </ul>
            </div>
            <p class="images mbpc-75 mbsp-30">
                <img src="<%= RELATIVE_PATH %>images/photos/recruit/active_staff/img-01.jpg" alt="img">
            </p>
            <h3 class="staff-ttl txt-center mbpc-40 mbsp-20">
                バドミントンと仕事を両立させるため <br>
                工夫や気をつけていることはありますか？
            </h3>
            <p class="txt-basic mbpc-45 mbsp-20">
                “仕事もバドミントンも楽しくやること”これが、僕のモットーです。仕事でうまくいかなかったり、バドミントンで思うような結果が出せなかったり、気が滅入ることがあっても絶対次に引きずらない。実はこれ、トレーニングの一環でもあるんですよね。バドミントンの試合中、納得いかないプレーもありますが、それを一つひとつ落ち込んでいたら次のミスへつながる悪循環を生むだけ。さっと気持ちを切り替えて次のプレーに集中することが大事です。これは、仕事においても同じ。失敗したから、と引きずっていたら作業効率は落ちていく一方です。そうして仕事が溜まっていくと、残業が増えてバドミントンの練習にも参加できなくなる。そうすると、どっちも楽しくなくなってしまうし、どんどんミスが増えていくんですよね。だから、仕事もバドミントンも楽しく充実させるために、“訓練”だと思って、自分の気持ちを自分でコントロールすることを意識的に心がけています。
            </p>
            <p class="images mbpc-75 mbsp-30">
                <img src="<%= RELATIVE_PATH %>images/photos/recruit/active_staff/img-02.jpg" alt="img">
            </p>
            <h3 class="staff-ttl txt-center mbpc-40 mbsp-20">
                疲れたな、しんどいな、など負けそうなときはありませんか？
            </h3>
            <p class="txt-basic mbpc-45 mbsp-20">
                もちろんあります。順風満帆な時ばかりじゃありませんからね。でも、誰に言われたわけでもなく、自分で決めた道ですから。納得するまでとことんやり抜くつもりです。 <br>
                元々、僕は鹿児島県出身で、当社のことは全く知らなかったのですが、当時お世話になっていた監督の知り合いが当社を紹介してくださり、自分から直接コンタクトを取って話を聞きに来ました。そこで、当社のバドミントンの監督や練習環境などを見せてもらい、「この場所で自分の力を試してみたい」と思って決意したんですよね。そして、そんな自分に会社も期待してくださっているわけですから、中途半端で諦めるわけにはいかない。それに、僕にとって仕事とバドミントンは表裏一体なんですよね。仕事を辞めたらバドミントンも辞めなければならないし、バドミントンを諦めたら生活していく手段も無くしてしまう。でも、勘違いしてもらいたくないのは、それでがんじがらめになっているのではなく、自分の中には仕事とバドミントン両方の柱があるということが強さにつながっている、ということです。弱気になった時には初心を思い出す、そして、とにかく前を見て結果を出していく、それしか今は考えていません。
            </p>
            <p class="images mbpc-75 mbsp-30">
                <img src="<%= RELATIVE_PATH %>images/photos/recruit/active_staff/img-03.jpg" alt="img">
            </p>
            <h3 class="staff-ttl txt-center mbpc-40 mbsp-20">
                今後の目標を教えてください。
            </h3>
            <p class="txt-basic">
                仕事面においては、もっともっと知識とスキルを重ねて仕事の幅を広げていきたいと思っています。まだ触ったこともない機械もたくさんあるので、その動かし方も習得し、いずれは後輩たちに何を聞かれてもズバッと指導していけるよう「仕事人」としても成長していきたいと思っています。
                <br>
                バドミントンにおいては、とにかく目に見える結果を出すこと。現在、当チームは２部リーグにいるのですが、そこは絶対死守。もちろん１部リーグを目指し、ベスト８、ベスト４も狙っていくつもりで頑張っています。そして、“バドミントンで、全国に久野金属工業の名を残す”こと。それが自身の最終目標であり、育てていただいている当社への恩返しだと思っています。
                <br>
                さらに、自分たちが活躍することによって、まだ一部の人しか仕組みがよくわかっていない社会人スポーツ選手という立場を、より多くの人に知っていただき、一人でも多くの方の門戸を開く手助けになればうれしく思います。
            </p>
        </div>
    </section>
</main>