<main class="main-content page-<%= pageData.template %>">
    <section class="page-head-banner page-<%= pageData.template %>">
        <div class="container container-md">
            <h2>会社案内</h2>
            <p>ABOUT</p>
            <img src="<%= RELATIVE_PATH %>images/icons/ttl-pattern-right@2x.png" alt="">
        </div>
    </section>
    <section class="company-profiles">
        <div class="container container-md">
            <p class="txt-basic txt-center pc mbpc-100">
                私たちの「電気工事」は、「伝気工事」。プロとしての誇りと気持ちが伝わる丁寧な仕事で、<br>
                皆さまのココロに灯をともし続けています。
            </p>
            <p class="txt-basic txt-center sp mbsp-70">
                私たちの「電気工事」は、「伝気工事」。<br>
                プロとしての誇りと気持ちが伝わる丁寧な仕事で、<br>
                皆さまのココロに灯をともし続けています。
            </p>
            <div class="section-heading mbpc-50 mbsp-30">
                <h2><span>会社概要</span></h2>
            </div>
            <div class="company-profiles-block">
                <dl>
                    <dt>会社名</dt>
                    <dd>名宝電気工事株式会社</dd>
                    <dt>代表者</dt>
                    <dd>代表取締役　水野 貴史</dd>
                    <dt>本社所在地</dt>
                    <dd>〒453-0811 名古屋市中村区太閤通6-43</dd>
                    <dt>社員数</dt>
                    <dd>8名（2016年8月末現在）</dd>
                    <dt>資本金</dt>
                    <dd>1,000万円（2012年9月末現在）</dd>
                    <dt>創業</dt>
                    <dd>
                        1931年4月1日<br>
                        名宝電気商会　設立<br>
                        （代表者　水野 俊夫）
                    </dd>
                    <dt>法人設立</dt>
                    <dd>
                        1986年8月1日<br>
                        名宝電気工事株式会社　設立<br>
                        （現在に至る）
                    </dd>
                </dl>
                <dl>
                    <dt>E-mail</dt>
                    <dd>meihou.e.c@crocus.ocn.ne.jp</dd>
                    <dt>電話番号</dt>
                    <dd>052-471-3288（代表）</dd>
                    <dt>FAX</dt>
                    <dd>052-471-3280</dd>
                    <dt>登録許可</dt>
                    <dd>
                        &#x25CE; 建設業許可：愛知県知事許可<br>
                        　（般-27）第032640号　電気工事業<br>
                        &#x25CE; 電気工事業届：愛知県知事　870003
                    </dd>
                    <dt>事業内容</dt>
                    <dd>
                        電気設備工事　設計・施工・保守<br>
                        デザイナーズ注文住宅、一般住宅、飲食店、<br>
                        マンション、高圧受電設備、工場、<br>
                        商業施設、デザイナーズオフィス、病院、<br>
                        寺社・仏閣、<br>
                        ならびに電気設備総合プロデュース
                    </dd>
                </dl>
            </div>
        </div>
    </section>
    <section class="organization-chart">
        <div class="container container-md">
            <div class="section-heading mbpc-50 mbsp-30">
                <h2><span>組織図</span></h2>
            </div>
            <figure class="img-center">
                <img src="<%= RELATIVE_PATH %>images/photos/organization-chart@2x.png" alt="chart" width="970" class="pc-in">
                <img src="<%= RELATIVE_PATH %>images/photos/organization-chart-sp@2x.png" alt="chart" width="970" class="sp-in">
            </figure>
        </div>
    </section>
    <section class="company-access">
        <div class="container container-md">
            <div class="section-heading mbpc-50 mbsp-30">
                <h2><span>アクセス</span></h2>
            </div>
            <div class="map-container pc">
                <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3261.535379855905!2d136.86138371524476!3d35.168206480317124!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x60037658ad1e3e67%3A0xd58ba3a772850ce!2zTmjhuq10IELhuqNuLCDjgJI0NTMtMDgxMSBBaWNoaS1rZW4sIE5hZ295YS1zaGksIE5ha2FtdXJhLWt1LCBUYWlrxY10xY1yaSwgNiBDaG9tZeKIkjQzIOWQjeWunembu-awl-W3peS6i--8iOagqu-8iQ!5e0!3m2!1svi!2s!4v1548405511448" width="100%" height="400" frameborder="0" style="border:0" allowfullscreen></iframe>
            </div>
            <div class="map-container sp">
                <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3261.535379855905!2d136.86138371524476!3d35.168206480317124!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x60037658ad1e3e67%3A0xd58ba3a772850ce!2zTmjhuq10IELhuqNuLCDjgJI0NTMtMDgxMSBBaWNoaS1rZW4sIE5hZ295YS1zaGksIE5ha2FtdXJhLWt1LCBUYWlrxY10xY1yaSwgNiBDaG9tZeKIkjQzIOWQjeWunembu-awl-W3peS6i--8iOagqu-8iQ!5e0!3m2!1svi!2s!4v1548405511448" width="100%" height="240" frameborder="0" style="border:0" allowfullscreen></iframe>
            </div>
        </div>
    </section>
    <section class="relationship-awards">
        <div class="container container-md">
            <div class="section-heading mbpc-50 mbsp-30">
                <h2><span>表彰関係</span></h2>
            </div>
        </div>
        <div class="container container-sm">
            <table>
                <colgroup>
                    <col width="28%">
                    <col width="42%">
                    <col width="30%">
                </colgroup>
                <thead>
                <tr>
                    <th>受賞年月日</th>
                    <th>表彰内容</th>
                    <th>表彰者</th>
                </tr>
                </thead>
                <tbody>
                <tr>
                    <td>平成3年<br class="sp">11月14日</td>
                    <td>電気保安功労者表彰</td>
                    <td>中部通産局長</td>
                </tr>
                <tr>
                    <td>平成7年<br class="sp">8月1日</td>
                    <td>電気保安功労者表彰</td>
                    <td>通産大臣</td>
                </tr>
                <tr>
                    <td>平成18年<br class="sp">8月25日</td>
                    <td>電気保安功労者表彰（個人）</td>
                    <td>経済産業省原子力安全保安院</td>
                </tr>
                <tr>
                    <td>平成21年<br class="sp">11月23日</td>
                    <td>名古屋市技能功労（電気工事士）</td>
                    <td>名古屋市長</td>
                </tr>
                <tr>
                    <td>平成22年<br class="sp">8月2日</td>
                    <td>電気保安功労者表彰（個人）</td>
                    <td>経済産業大臣</td>
                </tr>
                </tbody>
            </table>
            <ul class="awards-list">
                <li>
                    <span>特別優良工事店表彰（中部電力株式会社）</span>
                    <span>計  6回</span>
                </li>
                <li>
                    <span>優良工事店表彰（中部電力株式会社）</span>
                    <span>計  10回</span>
                </li>
                <li>
                    <span>電力負荷平準化（中部電力株式会社）</span>
                    <span>計  3回</span>
                </li>
            </ul>
        </div>
        <div class="container container-md">
            <!--<div class="images-grid">
                <div class="images-grid-item item-01 width-01">
                    <img src="<%= RELATIVE_PATH %>images/photos/img-award-01.jpg" alt=""></div>
                <div class="images-grid-item item-02 width-02">
                    <img src="<%= RELATIVE_PATH %>images/photos/img-award-02.jpg" alt=""></div>
                <div class="images-grid-item item-03 width-03">
                    <img src="<%= RELATIVE_PATH %>images/photos/img-award-03.jpg" alt=""></div>
                <div class="images-grid-item item-04 width-04">
                    <img src="<%= RELATIVE_PATH %>images/photos/img-award-04.jpg" alt=""></div>
                <div class="images-grid-item item-05 width-01">
                    <img src="<%= RELATIVE_PATH %>images/photos/img-award-05.jpg" alt=""></div>
                <div class="images-grid-item item-06 width-02">
                    <img src="<%= RELATIVE_PATH %>images/photos/img-award-06.jpg" alt=""></div>
                <div class="images-grid-item item-07 width-03">
                    <img src="<%= RELATIVE_PATH %>images/photos/img-award-07.jpg" alt=""></div>
                <div class="images-grid-item item-08 width-04">
                    <img src="<%= RELATIVE_PATH %>images/photos/img-award-08.jpg" alt=""></div>
            </div>-->
            <figure>
                <img src="<%= RELATIVE_PATH %>images/photos/grid-images@2x.jpg" alt="">
            </figure>
        </div>
    </section>
    <section class="construction-result">
        <div class="container container-md">
            <div class="section-heading mbpc-50 mbsp-30">
                <h2><span>施工実績</span></h2>
            </div>
            <div class="construction-result-list">
                <div class="col">
                    <ul>
                        <li>デザイナーズ注文住宅</li>
                        <li>Ｈ邸（昭和区 ＲＣ地下１／地上２階 建933㎡）</li>
                        <li>Ｉ邸（瑞穂区 Ｓ・ＲＣ地下１／地上３階 建478㎡）</li>
                        <li>Ｔ邸（千種区 Ｓ・ＲＣ地下１／地上２階 建533㎡）</li>
                        <li>Ｎ邸（瑞穂区 ＲＣ地下１／地上２階 建1,613㎡）</li>
                        <li>Ｚ邸（瑞穂区 ＲＣ地上２階 建690㎡）</li>
                        <li>Ｋ邸（瑞穂区 ＲＣ地下１／地上２階 建520㎡）</li>
                        <li>Ｋ邸（稲沢市 ＲＣ地上２階 建443㎡）</li>
                    </ul>
                    <ul>
                        <li>デザイナーズオフィス</li>
                        <li>Ａ社屋新築工事（熱田区 ＲＣ地上６階 建162㎡）</li>
                    </ul>
                    <ul>
                        <li>マンション</li>
                        <li>ウエストコート新築工事（中村区 ＲＣ地上３階 建625㎡）</li>
                        <li>イーストロード新築工事（千種区 ＲＣ地上８階 建190㎡）</li>
                        <li>Ｋマンション新築工事（豊田市 ＲＣ地上４階 建350㎡）</li>
                        <li>Ｓマンション新築工事（豊田市 ＲＣ地上４階 建330㎡）</li>
                    </ul>
                    <ul>
                        <li>公共施設</li>
                        <li>名古屋高速千音寺料金所増築工事</li>
                        <li>（県）海部総合庁舎環境整備工事</li>
                        <li>（財）水道サービス洗車場工事</li>
                        <li>国土交通省中部地方建設局　中部技術事務所改装工事</li>
                        <li>日進市ポンプ場新築工事</li>
                        <li>（市）堀留下水処理場整備工事</li>
                        <li>（市）宝神下水処理場整備工事</li>
                        <li>（市）岩塚下水処理場整備工事</li>
                        <li>桑名市庁舎改修工事</li>
                    </ul>
                </div>
                <div class="col">
                    <ul>
                        <li>福祉・医療</li>
                        <li>称円寺保育園新築工事（中川区 1,012㎡）</li>
                        <li>有隣寺保育園新築工事（西区 約800㎡）</li>
                        <li>（市）老松小学校増築工事（中区）</li>
                        <li>（公）尾陽病院増築工事（甚目寺町）</li>
                        <li>Ｆ歯科医院新築工事（名東区 Ｓ・ＲＣ地上２階 建290㎡）</li>
                        <li>Ｋ小児科新築工事（名東区 Ｓ・ＲＣ地上３階 建244㎡）</li>
                    </ul>
                    <ul>
                        <li>商業施設</li>
                        <li>アオキスーパー中村公園店</li>
                        <li>コスモビル改装工事（千種区 ＲＣ地上３階 2,500㎡）</li>
                    </ul>
                    <ul>
                        <li>工場</li>
                        <li>（株）河村産業所本社工場新築工事（甚目寺町 約16,500㎡）</li>
                        <li>（株）河村産業所北工場新築工事</li>
                        <li>（株）アサヒ日進工場変電設備工事</li>
                    </ul>
                    <ul>
                        <li>寺社・仏閣</li>
                        <li>法輪寺本堂・庫裡新築工事（守山区 1,046㎡）</li>
                        <li>蓮徳寺本堂・庫裡新築工事（中川区 約1,000㎡）</li>
                    </ul>
                </div>
            </div>
        </div>
    </section>
</main>