<main class="main-content page-<%= pageData.template %>">
    <section class="page-head-banner page-<%= pageData.template %>">
        <div class="container container-md">
            <h2>事業領域</h2>
            <p>BUSINESS</p>
            <img src="<%= RELATIVE_PATH %>images/icons/ttl-pattern-right@2x.png" alt="">
        </div>
    </section>
    <section class="about-business">
        <div class="container container-md">
            <p class="txt-basic txt-center pc mbpc-100">
                名古屋市内、愛知県内で多数の実績を誇ります。デザイナーズハウスの照明計画から携わったり、<br>
                中部電力からの委託など、仕事は多岐にわたります。
            </p>
            <p class="txt-basic txt-center sp mbsp-70">
                名古屋市内、愛知県内で多数の実績を誇ります。<br>
                デザイナーズ注文住宅の照明計画から携わったり、<br>
                中部電力からの委託など、仕事は多岐にわたります。
            </p>
            <div class="section-heading mbpc-100 mbsp-30">
                <h2><span>事業について</span></h2>
            </div>
            <ul class="about-business-list">
                <li>
                    <div class="img">
                        <img src="<%= RELATIVE_PATH %>images/photos/business-bnr-01.jpg" alt="">
                    </div>
                    <div class="desc">
                        <h3 class="title">
                            幹線・配電盤工事
                        </h3>
                        <p class="txt-basic">
                            高いデザイン性が求められる専用住宅・店舗の電気工事をはじめとして、オフィス、マンション、公共施設、医療施設、商業施設、工場、寺院・仏閣など、様々な現場で電気設備全般の設計・施工を手がけてまいりました。年々、電気設備工事に求められる技術は高度化しています。名宝電気工事では、確かな技術と豊富な経験を生かし、安心してご利用いただける電気設備工事をご提供しています。
                        </p>
                    </div>
                </li>
                <li>
                    <div class="img">
                        <img src="<%= RELATIVE_PATH %>images/photos/business-bnr-02.jpg" alt="">
                    </div>
                    <div class="desc">
                        <h3 class="title">
                            配線工事
                        </h3>
                        <p class="txt-basic">
                            水道やガスと同様に、電気は我々の生活になくてはならないライフラインです。住宅やオフィス、工場などの建物内で電気が使えるように、配線工事で「電気の通り道」を整備します。天井裏の梁などにケーブルを固定していき、コンセントやスイッチ、照明器具などに繋ぎます。
                        </p>
                    </div>
                </li>
                <li>
                    <div class="img">
                        <img src="<%= RELATIVE_PATH %>images/photos/business-bnr-03.jpg" alt="">
                    </div>
                    <div class="desc">
                        <h3 class="title">
                            照明器具の取り付け工事
                        </h3>
                        <p class="txt-basic">
                            照明器具の中には、規定により取り付けに電気工事士の資格が必要なケースがあります。名宝電気工事では、光で空間を演出する照明計画の企画・製作や、時にはシャンデリアのようにゴージャスな照明器具の取り付けも対応可能。有資格者による丁寧な仕事で、最後の仕上げまでしっかり担当させていただきます。
                        </p>
                    </div>
                </li>
                <li>
                    <div class="img">
                        <img src="<%= RELATIVE_PATH %>images/photos/business-bnr-04.jpg" alt="">
                    </div>
                    <div class="desc">
                        <h3 class="title">
                            中部電力委託工事
                        </h3>
                        <p class="txt-basic">
                            名宝電気工事は、中部電力認定の委託工事店として、引き込み工事やメーター等の計器取り付け工事など、一貫して自社で対応することが可能です。もちろん、各種申請業務も含めて承りますので、大変スムーズに工事を進めることができます。
                        </p>
                    </div>
                </li>
                <li>
                    <div class="img">
                        <img src="<%= RELATIVE_PATH %>images/photos/business-bnr-05.jpg" alt="">
                    </div>
                    <div class="desc">
                        <h3 class="title">
                            引き込み工事・高所作業
                        </h3>
                        <p class="txt-basic">
                            屋外の電柱から、建物の軒先・外壁等への電気引き込み工事を行っています。電力会社の規定に基づき、メーター・ブレーカーの取り付けや申請業務まで一貫してお任せいただけます。また、高所作業車を使用した工事も対応可能。高所や足場の組めない現場でも、お客様のご負担を最小限に、安全かつ容易に工事を進めることができます。
                        </p>
                    </div>
                </li>
                <li>
                    <div class="img">
                        <img src="<%= RELATIVE_PATH %>images/photos/business-bnr-06.jpg" alt="">
                    </div>
                    <div class="desc">
                        <h3 class="title">
                            高圧受電設備・電柱の設置工事
                        </h3>
                        <p class="txt-basic">
                            協力業者様と連携して、高圧受電設備の設置工事や電柱の設置工事も承ります。高圧受電設備については、設置工事はもちろん、メンテナンスも承ります。変圧器内の絶縁油の交換など、工場内全停電作業も可能です。
                        </p>
                    </div>
                </li>
                <li>
                    <div class="img">
                        <img src="<%= RELATIVE_PATH %>images/photos/business-bnr-07.jpg" alt="">
                    </div>
                    <div class="desc">
                        <h3 class="title">
                            製図・ライティングプラン作成
                        </h3>
                        <p class="txt-basic">
                            CAD等による製図はもちろん、ライティングプラン作成においても多数の実績があります。暮らしを彩る「灯り」を創造する技術も、白熱灯からLEDヘ、時代の進歩とともに変わりゆくもの。技術のプロフェッショナルとして、電気工事の観点から快適な住空間を演出するライティングプランをご提案します。
                        </p>
                    </div>
                </li>
                <li>
                    <div class="img">
                        <img src="<%= RELATIVE_PATH %>images/photos/business-bnr-08.jpg" alt="">
                    </div>
                    <div class="desc">
                        <h3 class="title">
                            その他設備工事
                        </h3>
                        <p class="txt-basic">
                            屋上や屋根に設置する、太陽光発電パネルの敷設工事も承ります。その他、工場の高圧受電設備のメンテナンスにおける全停電作業や、ビルや商業施設に設置される大型の空調設備の吊り込み工事も対応可能です。作業に応じてチームを編成し、力を合わせて業務にあたります。
                        </p>
                    </div>
                </li>
            </ul>
        </div>
    </section>
</main>