<main class="main-content page-<%= pageData.template %>">
    <section class="first-view">
        <div class="toggle-btn">
            <div class="toggle">
                <img src="<%= RELATIVE_PATH %>images/icons/button-toggle@2x.png" alt="">
            </div>
            <div class="pointing-hand">
                <img src="<%= RELATIVE_PATH %>images/icons/hand-pointing@2x.png" alt="">
            </div>
            <p class="message">電気でココロに灯をともす</p>
            <div class="page-logo">
                <img src="<%= RELATIVE_PATH %>images/icons/page-logo-white@2x.png" alt="">
                <img src="<%= RELATIVE_PATH %>images/icons/page-logo-black@2x.png" alt="">
            </div>
        </div>
    </section>
    <section class="main-visual">
        <ul class="main-slideshow">
            <li class="item item-01">
                <img src="<%= RELATIVE_PATH %>images/photos/slide-01.jpg" alt="" class="pc">
                <img src="<%= RELATIVE_PATH %>images/photos/slide-01-sp@2x.jpg" alt="" class="sp">
            </li>
            <li class="item item-02">
                <img src="<%= RELATIVE_PATH %>images/photos/slide-02.jpg" alt="" class="pc">
                <img src="<%= RELATIVE_PATH %>images/photos/slide-02-sp@2x.jpg" alt="" class="sp">
            </li>
            <li class="item item-03">
                <img src="<%= RELATIVE_PATH %>images/photos/slide-03.jpg" alt="" class="pc">
                <img src="<%= RELATIVE_PATH %>images/photos/slide-03-sp@2x.jpg" alt="" class="sp">
            </li>
            <li class="item item-04">
                <img src="<%= RELATIVE_PATH %>images/photos/slide-04.jpg" alt="" class="pc">
                <img src="<%= RELATIVE_PATH %>images/photos/slide-04-sp@2x.jpg" alt="" class="sp">
            </li>
            <li class="item item-05">
                <img src="<%= RELATIVE_PATH %>images/photos/slide-05.jpg" alt="" class="pc">
                <img src="<%= RELATIVE_PATH %>images/photos/slide-05-sp@2x.jpg" alt="" class="sp">
            </li>
        </ul>
        <div class="main-visual-message">
            <h1 class="top-message">Turn on your heart light</h1>
            <object id="heartline"
                    type="image/svg+xml"
                    data="<%= RELATIVE_PATH %>images/photos/main_animated.svg">
            </object>
            <p class="small-message">電気でココロに灯をともす</p>
            <a href="#index-intro-blocks" class="scroll-down-btn smooth-anchor">
                <span>scroll down</span>
                <img src="<%= RELATIVE_PATH %>images/icons/arrow-down@2x.png" alt="">
            </a>
        </div>
    </section>
    <section id="index-intro-blocks">
        <div class="block block-01" data-scroll-class="scroll-reveal">
            <div class="container container-md">
                <div class="section-ttl">
                    <h2>会社案内</h2>
                    <p>ABOUT</p>
                </div>
            </div>
            <div class="intro-txt">
                <div class="container container-md">
                    <p>
                        私たちの「電気工事」は、「伝気工事」。<br>
                        プロとしての誇りと気持ちが伝わる丁寧な仕事で、<br>
                        皆さまのココロに灯をともし続けています。
                    </p>
                </div>
            </div>
            <div class="container container-md">
                <a href="<%= RELATIVE_PATH %>about/index.html" class="btn btn-solid-white">
                    <span>&nbsp;</span>
                    <span>READ MORE</span>
                    <span class="arrow-right"></span>
                </a>
            </div>
        </div>
        <div class="block block-02" data-scroll-class="scroll-reveal">
            <div class="container container-md">
                <div class="section-ttl">
                    <h2>ビジョン</h2>
                    <p>VISION</p>
                </div>
            </div>
            <div class="intro-txt">
                <div class="container container-md">
                    <p>
                        1931年の創業から約90年、地域と人と向き合いながら、<br>
                        かけがえのない電気を守り支えてきた名宝電気工事。<br>
                        私たちの理念、そして未来への想いをお伝えします。
                    </p>
                </div>
            </div>
            <div class="container container-md">
                <a href="<%= RELATIVE_PATH %>vision/index.html" class="btn btn-solid-white">
                    <span>&nbsp;</span>
                    <span>READ MORE</span>
                    <span class="arrow-right"></span>
                </a>
            </div>
        </div>
        <div class="block block-03" data-scroll-class="scroll-reveal">
            <div class="container container-md">
                <div class="section-ttl">
                    <h2>事業領域</h2>
                    <p>BUSINESS</p>
                </div>
            </div>
            <div class="intro-txt">
                <div class="container container-md">
                    <p>
                        名古屋市内、愛知県内で多数の実績を誇ります。<br>
                        デザイナーズ注文住宅の照明計画から携わったり、<br>
                        中部電力からの委託など、仕事は多岐にわたります。
                    </p>
                </div>
            </div>
            <div class="container container-md">
                <a href="<%= RELATIVE_PATH %>business/index.html" class="btn btn-solid-white">
                    <span>&nbsp;</span>
                    <span>READ MORE</span>
                    <span class="arrow-right"></span>
                </a>
            </div>
        </div>
        <div class="block block-04" data-scroll-class="scroll-reveal">
            <div class="container container-md">
                <div class="section-ttl">
                    <h2>社員インタビュー</h2>
                    <p>INTERVIEW</p>
                </div>
            </div>
            <div class="intro-txt">
                <div class="container container-md">
                    <p>
                        頼もしく、面倒見のよい先輩社員の皆さまに、<br>
                        やりがいや目標などについて語っていただきました。<br>
                        末長く、安定して働き続けられる会社です。
                    </p>
                </div>
            </div>
            <div class="container container-md">
                <a href="<%= RELATIVE_PATH %>interview/index.html" class="btn btn-solid-white">
                    <span>&nbsp;</span>
                    <span>READ MORE</span>
                    <span class="arrow-right"></span>
                </a>
            </div>
        </div>
    </section>
    <section class="index-recruit-block">
        <div class="container container-md">
            <div class="section-ttl">
                <h2>採用情報</h2>
                <p>RECRUIT</p>
            </div>
            <ul class="recruit-posts">
                <li class="item">
                    <div class="img">
                        <a href="<%= RELATIVE_PATH %>recruit-01/">
                            <img src="<%= RELATIVE_PATH %>images/photos/index-recruit-01.jpg" alt="recruit">
                        </a>
                    </div>
                    <div class="content">
                        <h3 class="title">
                            <span class="tagline">正社員</span> 未経験歓迎の電気工事士
                        </h3>
                        <p class="excerpt">
                            未経験からはじめられる、電気工事士を募集しています。業務はイチから丁寧にお教えしますので、ご安心ください。必要な資格取得については、会社のサポートもあります。
                        </p>
                    </div>
                </li>
                <li class="item">
                    <div class="img">
                        <a href="<%= RELATIVE_PATH %>recruit-02/">
                            <img src="<%= RELATIVE_PATH %>images/photos/index-recruit-02.jpg" alt="recruit">
                        </a>
                    </div>
                    <div class="content">
                        <h3 class="title">
                            <span class="tagline">正社員</span> 電気工事施工管理技士
                        </h3>
                        <p class="excerpt">
                            CAD等による設計や、現場の施工管理、電力会社や諸官庁への申請業務、お客様との打ち合わせ、ライティングプラン作成など、設計管理者として幅広い業務をお任せします。
                        </p>
                    </div>
                </li>
            </ul>
        </div>
    </section>
</main>