<main class="main-content page-<%= pageData.template %>">
    <section class="page-head-banner page-<%= pageData.template %>">
        <div class="container container-md">
            <h2>ビジョン</h2>
            <p>VISION</p>
            <img src="<%= RELATIVE_PATH %>images/icons/ttl-pattern-left@2x.png" alt="">
        </div>
    </section>
    <section class="vision-top-message">
        <div class="container container-md">
            <p class="txt-basic txt-center pc mbpc-100">
                1931年の創業から約90年、地域と人と向き合い、かけがえのない電気を守り支えてきた名宝電気工事。<br>
                私たちの理念、そして未来への想いをお伝えします。
            </p>
            <p class="txt-basic txt-center sp mbsp-70">
                1931年の創業から約90年、地域と人と向き合い、<br>
                かけがえのない電気を守り支えてきた名宝電気工事。<br>
                私たちの理念、そして未来への想いをお伝えします。
            </p>
            <figure class="img-center mbpc-100 mbsp-30">
                <img src="<%= RELATIVE_PATH %>images/photos/vision-bnr-01.jpg" alt="" class="pc-in">
                <img src="<%= RELATIVE_PATH %>images/photos/vision-bnr-01-sp@2x.jpg" alt="" class="sp-in">
            </figure>
            <div class="section-heading mbpc-100 mbsp-30">
                <h2><span>トップメッセージ</span></h2>
            </div>
            <article class="mbpc-50 mbsp-30">
                <h3>明るく、優しく、力強く</h3>
                <p>
                    私たちは、地域に密着した“下町の電気工事屋さん”としてスタートしました。会社としての設立から30余年、創業から約90年。その時代から先人が積み上げてきた実績や信頼、絆、スピリット…その全てに感謝しながら発展し続けていくことが、今につなげてもらった私たちの使命だと考えています。そのために、昔ながらの考えを一度捨て去る努力も必要でしょう。歴史を裏切ることなく、むしろその歴史に応えるために、改革していかなければならないことは何かを見極め、迅速に進めていく、それが会社の次なるステップアップ、ひいては社員の幸せにつながると信じています。
                </p>
                <p>
                    その過程の中で、私たちがたどり着いたスローガンは、「明るく、優しく、力強く」。
                </p>
                <p>
                    今の現場（時代）は、様々な制約にがんじがらめになり、昔のように伸び伸び仕事ができなくなっているのが現状です。そうした状況下で、何かを一つひとつ諦めていくと、現場には活気がなくなり、仕事人のモチベーションも下がっていきます。そんな状況は早く打破したい！本来、建設現場はコミュニケーションの宝庫です。そのために、まずは私たちがリーダーとなって明るさを発信していきたいと思っています。そして、人材を優しく教育し、頑張りを優しく評価する、“人に優しい”会社でありたいと願っています。そういった社風が社員一人ひとりに浸透し外部に伝わっていけば、必ず次のアクションにつながります。
                </p>
            </article>
            <figure class="img-center mbpc-50 mbsp-30">
                <img src="<%= RELATIVE_PATH %>images/photos/vision-bnr-02.jpg" alt="" class="pc-in">
                <img src="<%= RELATIVE_PATH %>images/photos/vision-bnr-02-sp@2x.jpg" alt="" class="sp-in">
            </figure>
            <article class="mbpc-90 mbsp-45">
                <p>
                    “いいものを提供するためには、いい職場づくりから”。
                </p>
                <p>
                    「明るく、優しく、力強く」——この信念のもと、“仕事が、会社が楽しい！”、“電気工事業界の未来も捨てたもんじゃない！”と自分たちも周りも実感し、誇りを持てるように、私たちは、これからも“下町の電気工事屋さん”として、自社を活性化しながら、業界全体の底上げをはかっていく所存です。
                </p>
                <p class="txt-right mbpc-10 mbsp-10">
                    名宝電気工事株式会社　代表取締役
                </p>
                <p class="txt-right">
                    <img src="<%= RELATIVE_PATH %>images/photos/signature@2x.png" alt="" width="150">
                </p>
            </article>
        </div>
        <figure class="img-center">
            <img src="<%= RELATIVE_PATH %>images/photos/vision-bnr-03.jpg" alt="" class="pc-in">
            <img src="<%= RELATIVE_PATH %>images/photos/vision-bnr-03-sp@2x.jpg" alt="" class="sp-in">
        </figure>
    </section>
    <section class="personel-image">
        <div class="container container-md">
            <div class="section-heading mbpc-100 mbsp-30">
                <h2><span>私たちが求める人材像</span></h2>
            </div>
            <figure>
                <img src="<%= RELATIVE_PATH %>images/photos/vision-bnr-04.jpg" alt="">
                <figcaption>
                    <p>
                        初めて社会に出る人材に、ましてや当社のように技術力を要する業界で即戦力を求めるのは難しいと言われます。が、それでも、私たちは、新人も即戦力だと考えています。スキルがないからとうまく使えないのは会社の責任。知識や技術が不足しているのは当然のことで、それは入社後、実践と共に身につけていってもらえばいいのです。その前にこちらから歩み寄って“一緒に”仕事をしていく姿勢を提示していくことが大切だと考えています。
                    </p>
                    <p>
                        だから、求職者の皆さんにはぜひ、あなたの抱いている“夢”を聞かせて欲しい。「社会に出て何をしたいのか」「どんな人間になっていきたいのか」、あなたの目指すべき道や将来的なビジョンを教えてください。その一人ひとりの夢や希望を達成するために、私たちは最善の努力をし、全力でサポートしていきます。夢を持って、当社の扉を叩いてもらえれば、絶対に後悔させない自信があります。あなたの一歩を応援させてください。そんな人材と出会えることを心待ちにしています。
                    </p>
                </figcaption>
            </figure>
        </div>
    </section>
</main>