<header id="main-header">
    <div class="main-menu-btn" role="button">
        <div class="main-menu-btn-wrapper">
            <span></span>
            <span></span>
            <span></span>
        </div>
    </div>
    <nav class="main-menu-content" role="navigation">
        <ul>
            <% if (pageData.template == "index") { %>
                <li>
                    <a href="#" class="smooth-anchor">トップ</a>
                </li>
                <li>
                    <a href="#section-about" class="smooth-anchor">バランス食堂IKOTTOとは？</a>
                </li>
                <li>
                    <a href="#section-news" class="smooth-anchor">最新のお知らせ</a>
                </li>
                <li>
                    <a href="#section-menu" class="smooth-anchor">食堂メニュー</a>
                </li>
                <li>
                    <a href="#section-access" class="smooth-anchor">アクセス</a>
                </li>
                <li>
                    <a href="<%= RELATIVE_PATH %>contact/index.html" class="smooth-anchor">取材・メディア掲載のお問い合わせ</a>
                </li>
                <li>
                    <a href="http://www.kinrosyoku.co.jp/" target="_blank" rel="noreferrer noopener">運営会社のコーポレートサイト</a>
                </li>
            <% } else { %>
                <li>
                    <a href="<%= RELATIVE_PATH %>index.html">トップ</a>
                </li>
                <li>
                    <a href="<%= RELATIVE_PATH %>index.html#section-about" class="smooth-anchor">バランス食堂IKOTTOとは？</a>
                </li>
                <li>
                    <a href="<%= RELATIVE_PATH %>index.html#section-news" class="smooth-anchor">最新のお知らせ</a>
                </li>
                <li>
                    <a href="<%= RELATIVE_PATH %>index.html#section-menu" class="smooth-anchor">食堂メニュー</a>
                </li>
                <li>
                    <a href="<%= RELATIVE_PATH %>index.html#section-access" class="smooth-anchor">アクセス</a>
                </li>
                <li>
                    <a href="<%= RELATIVE_PATH %>contact/index.html" class="smooth-anchor">取材・メディア掲載のお問い合わせ</a>
                </li>
                <li>
                    <a href="http://www.kinrosyoku.co.jp/" target="_blank" rel="noreferrer noopener">運営会社のコーポレートサイト</a>
                </li>
            <% } %>
        </ul>
        <div class="social-blocks-sm">
            <p role="note">Follow us!</p>
            <ul>
                <li>
                    <a href="https://www.instagram.com/ikotto_anjo/" target="_blank" rel="noopener noreferrer">
                        <i class="fa fa-instagram" aria-hidden="true"></i>
                        <span>Ikotto 安城</span>
                    </a>
                </li>
                <li>
                    <a href="https://www.instagram.com/ikotto.nagoya/" target="_blank" rel="noopener noreferrer">
                        <i class="fa fa-instagram" aria-hidden="true"></i>
                        <span>Ikotto 名古屋</span>
                    </a>
                </li>
                <li>
                    <a href="https://www.facebook.com/%E3%83%90%E3%83%A9%E3%83%B3%E3%82%B9%E9%A3%9F%E5%A0%82ikotto-652872738444489/"
                       target="_blank" rel="noopener noreferrer">
                        <i class="fa fa-facebook-official" aria-hidden="true"></i>
                        <span>Ikotto 公式</span>
                    </a>
                </li>
            </ul>
        </div>
    </nav>
</header>