<footer id="main-footer">
    <section class="footer-banner-row">
        <div class="container">
            <ul class="flex-row wrap">
                <li class="col-pc-49p col-tb-100p col-sp-100p mbpc-20 mbsp-15">
                    <a href="<%= RELATIVE_PATH %>recruit/number.html">
                        <img src="<%= RELATIVE_PATH %>images/photos/footer-bnr-01@2x.jpg" alt="banner">
                    </a>
                </li>
                <li class="col-pc-49p col-tb-100p col-sp-100p mbpc-20 mbsp-15">
                    <a href="<%= RELATIVE_PATH %>recruit/senior.html">
                        <img src="<%= RELATIVE_PATH %>images/photos/footer-bnr-02@2x.jpg" alt="banner">
                    </a>
                </li>
            </ul>
        </div>
    </section>
    <section class="footer-contact-box">
        <div class="container">
            <div class="footer-contact-box-wrapper mbpc-45 mbsp-20">
                <h2 class="title">エントリーご希望の方は、お手数ですが下記までご連絡ください。</h2>
                <div class="content">
                    <div class="phone-contact">
                        <div class="top-row">
                            <a href="tel:0569438806">0569-43-8806</a>
                            <span>（総務直通）</span>
                        </div>
                        <div class="bottom-row">
                            受付時間／9:00&#x301C;17:00（土・日・祝休）
                            <span>担当／谷川</span>
                        </div>
                    </div>
                    <a href="<%= RELATIVE_PATH %>entry" class="mail-btn red">
                        <img src="<%= RELATIVE_PATH %>images/icons/mail-icn@2x.png" alt="" width="22">
                        <span>Webエントリーはコチラから</span>
                        <img src="<%= RELATIVE_PATH %>images/icons/double-arrow-icn@2x.png" alt="" width="16">
                    </a>
                </div>
            </div>
            <p class="history-banner layout">
                <a href="../70th/">
                    <img class="btn-images" src="<%= RELATIVE_PATH %>images/photos/recruit/ban-70th_off.jpg" alt="img">
                </a>
            </p>
        </div>
    </section>
    <section class="footer-sponsors-link">
        <div class="container">
            <ul class="flex-row">
                <li class="col-pc-32p col-tb-48p col-sp-48p">
                    <a class="ar" href="http://www.amsa.or.jp/" target="_blank">
                        <img src="http://www.kunokin.com/common/img/foot/foot-ban-amsa.jpg" alt="一般社団法人 愛知県金属プレス工業会">
                    </a>
                </li>
                <li class="col-pc-32p col-tb-48p col-sp-48p">
                    <a class="ar" href="http://www.jdmia.or.jp/" target="_blank">
                        <img src="http://www.kunokin.com/common/img/foot/foot-ban-jdmia.jpg" alt="一般社団法人 日本金型工業会">
                    </a>
                </li>
                <li class="col-pc-32p col-tb-48p col-sp-48p">
                    <a class="ar" href="https://www.facebook.com/kunokinzoku" target="_blank">
                        <img src="http://www.kunokin.com/common/img/foot/foot-ban-facebook.jpg" alt="久野金属工業株式会社 公式Facebookページ">
                    </a>
                </li>
            </ul>
        </div>
    </section>
    <section class="footer-main-content">
        <div class="container">
            <div class="flex-row wrap">
                <div class="info-block col-pc-32p col-tb-100p col-sp-100p">
                    <p>
                        複雑高精度プレス部品の製品開発から<br>
                        プレス加工・溶接組立・機械加工まで一気通貫
                    </p>
                    <h2>
                        <img src="http://www.kunokin.com/common/img/foot/foot-logo.png" alt="久野金属工業株式会社">
                    </h2>
                    <dl>
                        <dt>本社・常滑工場</dt>
                        <dd>
                            <span>〒479-0002</span>
                            <span>
                                愛知県常滑市久米字池田174番地<br>
                                　　　　　　（久米南部工業団地内）
                            </span>
                        </dd>
                        <dd>TEL:0569-43-8801（代表）</dd>
                        <dd>FAX:0569-43-8008</dd>
                    </dl>
                    <dl>
                        <dt>有松工場</dt>
                        <dd>
                            <span>〒458-0915</span>
                            <span>愛知県名古屋市緑区野末町201番地</span>
                        </dd>
                    </dl>
                </div>
                <div class="sitemap-block col-pc-62p col-tb-100p col-sp-100p mtsp-20">
                    <ul class="sitemap">
                        <li><a href="<%= RELATIVE_PATH %>recruit/">採用トップ</a></li>
                        <li><a href="<%= RELATIVE_PATH %>recruit/vision/">ビジョン</a></li>
                        <li><a class="smooth-anchor" href="<%= RELATIVE_PATH %>recruit/index.html#eyebrow">募集要項</a></li>
                        <li><a href="<%= RELATIVE_PATH %>recruit/number.html">数字で見る</a></li>
                        <li class="edge"><a href="<%= RELATIVE_PATH %>recruit/senior.html">先輩社員紹介</a></li>
                        <li><a href="<%= RELATIVE_PATH %>recruit/gallery/">ギャラリー</a></li>
                        <li><a href="<%= RELATIVE_PATH %>recruit/active_staff/">実業団で活躍する社員</a></li>
                        <li><a href="<%= RELATIVE_PATH %>recruit/carrier_step/">キャリアステップ</a></li>
                        <li class="edge"><a href="<%= RELATIVE_PATH %>recruit/companyinfo/">会社説明会</a></li>
                        <li><a href="<%= RELATIVE_PATH %>recruit/company_entry/">会社説明会申し込みフォーム</a></li>
                        <li class="edge"><a href="<%= RELATIVE_PATH %>entry/">エントリーフォーム</a></li>
                    </ul>
                    <ul class="certifications flex-row wrap">
                        <li class="col-pc-20p col-tb-48p col-sp-100p mbsp-15">
                            <img src="http://www.kunokin.com/common/img/foot/foot-mark-gnt.jpg" alt="グローバルニッチトップ企業 100選認定" width="110" height="60">
                            <span>グローバルニッチ<br>トップ企業100選認定</span>
                        </li>
                        <li class="col-pc-20p col-tb-48p col-sp-100p mbsp-15">
                            <img src="http://www.kunokin.com/common/img/foot/foot-mark-monodzukuri.jpg" alt="ものづくり日本大賞 優秀賞" width="110" height="60">
                            <span>ものづくり日本大賞<br>優秀賞</span>
                        </li>
                        <li class="col-pc-20p col-tb-48p col-sp-100p mbsp-15">
                            <img src="http://www.kunokin.com/common/img/foot/foot-mark-iso.jpg" alt="ISO9001／ISO14001認証取得" width="110" height="60">
                            <span>ISO9001／ISO14001<br>認証取得</span>
                        </li>
                        <li class="col-pc-20p col-tb-48p col-sp-100p mbsp-15">
                            <img src="http://www.kunokin.com/common/img/foot/foot-mark-quality.jpg" alt="愛知ブランド企業 認定番号:159" width="110" height="60">
                            <span>愛知ブランド企業<br>認定番号:159</span>
                        </li>
                        <li class="col-pc-20p col-tb-48p col-sp-100p">
                            <img src="http://www.kunokin.com/common/img/foot/foot-mark-100.jpg" alt="攻めのIT営業中小企業100選 受賞" width="110" height="60">
                            <span>攻めのIT営業中小企業<br>100選 受賞</span>
                        </li>
                    </ul>
                </div>
                <div class="copyright col-pc-100p col-tb-100p col-sp-100p">
                    (C)2015 KUNO Kinzoku Industry Co.,Ltd.
                </div>
            </div>
            <a href="#" class="back-to-top smooth-anchor">
                <img src="<%= RELATIVE_PATH %>images/icons/back-to-top@2x.png" alt="back to top" width="25">
            </a>
        </div>
    </section>
</footer>