<header id="main-header">
    <div class="container container-md">
        <nav role="navigation">
            <h1 class="menu-logo">
                <a href="<%= RELATIVE_PATH %>">
                    <img src="<%= RELATIVE_PATH %>images/icons/header-logo@2x.png" alt="meihou">
                </a>
            </h1>
            <a href="" class="menu-sp-btn">
                <img src="<%= RELATIVE_PATH %>images/icons/menu-sp-open@2x.png" alt="menu open">
                <img src="<%= RELATIVE_PATH %>images/icons/menu-sp-close@2x.png" alt="menu close">
            </a>
            <ul class="main-menu">
                <li>
                    <a href="<%= RELATIVE_PATH %>about/">
                        <span class="jp">会社案内</span>
                        <span class="en">about</span>
                    </a>
                </li>
                <li>
                    <a href="<%= RELATIVE_PATH %>vision/">
                        <span class="jp">ビジョン</span>
                        <span class="en">vision</span>
                    </a>
                </li>
                <li>
                    <a href="<%= RELATIVE_PATH %>business/">
                        <span class="jp">事業領域</span>
                        <span class="en">business</span>
                    </a>
                </li>
                <li>
                    <a href="<%= RELATIVE_PATH %>interview/">
                        <span class="jp">社員インタビュー</span>
                        <span class="en">interview</span>
                    </a>
                </li>
                <li>
                    <a href="<%= RELATIVE_PATH %>recruit-01/">
                        <span class="jp">採用情報</span>
                        <span class="en">recruit</span>
                    </a>
                </li>
                <li>
                    <a href="<%= RELATIVE_PATH %>contact/">
                        <i class="fa fa-envelope-o" aria-hidden="true"></i>
                        <span class="jp">お問い合わせ</span>
                        <span class="en">contact</span>
                    </a>
                </li>
            </ul>
        </nav>
    </div>
</header>